/***********Typography***********/
h1{
    text-align: center;
    text-transform: uppercase;
}
h2{
    text-align: center;
    line-height: 2em;
    text-transform: uppercase;
}
h3{
    text-align: center;
    line-height: 0.2em;
}
nav{
    text-align: center;
}
ul{
    list-style-type: none;
    margin: auto;
    padding: none;
}
li{
    display: inline;
    padding-right: 5%;

}
a{
    text-decoration: none;
}


/*.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other 
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }*/



/***********/
hr{
      width: 70%;
      border-top: 5px #000000; 
}

#creativeMedia div{
    background-color: #FAB859;
    padding-bottom: 10px;
}

#logosBranding div{
    background-color: #2E4280;
    padding-bottom: 6px;
}

nav{
    padding: 20px 0 10px;
}
#navbar{
    padding: 15px;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 1em;
    background-color: rgb(128, 164, 180);
}

#navbar ul li a{
    color: white;
}
.grid{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.grid img{
    width: 30%;
    padding: 6px;
}
/*
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}*/
section{
    margin: auto;
}
img{
    display: block;
    width: 100%;
}