/***********Typography***********/
h1{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;

}
h2{
    color: #ffffff;
    text-align: center;
    line-height: 3em;
    text-transform: uppercase;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
h3{
    color: #ffffff;
    text-align: center;
    line-height: 0.5em;
    text-transform: lowercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-bottom: 30px;
    margin-block-start: 0 !important;
}
nav{
    text-align: center;
}
ul{
    list-style-type: none;
    margin: auto;
    padding: none;
}

a{
    color: #3F454D;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
p{
    color: #ffffff;
    line-height: 1.2em;
}

a:hover{
    color: #49C3D0;
}

.highlight a{
    color: #3F454D;
}

.about h2, .about h3{
    color: #3F454D;
    text-align: left;
}
.about h2{
    text-transform: uppercase;
}
.about h3{
    font-family: 'Lato', sans-serif;
    text-transform: none;
    line-height: 1.2em;
}

.about p{
    margin-block-start: 0 !important;
    font-weight: 200;
    color: #3F454D;
    padding: none;
    font-family: 'Lato', sans-serif;
}

.about ul{
    padding: none;
}

.about ul li{
    text-align: center;
    color: #3F454D;
}
/*.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other 
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }*/



/******Navigation*****/

nav{
    /*border-top: 1px solid rgb(218, 218, 218);*/

    text-align: center;
    background-color: #49C3D0;

}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
}

nav ul li{
    padding: 0 5% 0 5%;
}

nav ul li a{

    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    color: #ffffff;
}

nav ul li a:hover{
    color:#3F454D;
}


/*****Subnav*****/

.subnav{
    border: none;
    background-color: #ffffff;
}

.subnav ul li{
    padding: 0 5% 0 5%;
    flex: none;
}

.subnav a{
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    color: #3F454D;
    font-size: 0.9em;}
    
.subnav ul li a:hover{
    color:#49C3D0;
}

/*.dropdown-content{
    border: none;
    margin-top: 20px;
    padding-top: 10px;
    position: fixed;
}
.dropdown-content ul{
    width: 60%;

    display: flex;
    
}


.dropdown-content ul li{
    justify-content: center;
    padding: 5px;  
}

.dropdown-content  ul li a:hover{
    color:#F06294;
}

.dropdown-content{
    visibility: hidden;
}
*/
/*****help*******/
.dropbtn {
    padding: 0 10px 30px 10px;
}
.dropdown-content{

    margin-top: 38px;
    visibility: hidden;
    position: absolute;
    min-width: 160px;

    z-index: 1;
}
/*.dropdown:hover .dropdown-content {display: block;}*/


/******/
body{
    background-color: #3F454D;
    padding-bottom: 10px;
}

header img{
    width: 25%;
    padding-top: 10px;
    margin: auto;
}
hr{
    border: 1px solid #ffffff;
  /*  border: 1px solid #ffffff;*/
    width: 70%;
}

#creativeMedia{
    background-color: #FDB94B;
    padding-bottom: 10px;
}

#logosBranding{
    background: linear-gradient(0deg, rgba(46,66,128,1) 0%, rgba(91,131,255,1) 55%);
}
#logosBranding2{
    background-color: #2E4280;
    padding-bottom: 10px;
}

#logosBranding div{
    padding-bottom: 6px;
}

#characterDesign div{
    padding-bottom: 10px;
}

#aphio{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(121,136,89,1) 55%);
}
#stickers{
    margin-bottom: 10px;
    background-color: #3F454D;
}


.grid{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.grid img{
    width: 30%;
    padding: 6px;
}
/*
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}*/

#illustrations{
    padding-top: 10px;
}

section{
    margin: auto;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}


#topofpage{
    margin-left: 93%;
    text-align: right;
    padding: 20px;
    position: fixed;
    z-index: 100;
    bottom: 0;
}

#topofpage a{
    border-radius: 10px;
    font-size: 1.5em;
    background-color: white;
    padding: 10px 16px 10px 16px;

}
.aboutPic{
    width: 40%;
    height: 40%;
    padding-right: 5%;

}
article{
    background-color: #ffffff;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin:auto;
    padding: 50px;
    margin: auto;

}
#funFacts{
    display: flex;
    margin-block-start: 0 !important;
    justify-content: center;
    background-color: #ffffff;
    padding: 0 0 50px 0;
}

#funFacts p{
    margin: auto;
    color: #3F454D;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 2em;;
    width: 75%;
}


/***********Footer***********/

footer{
    position: absolute;
    width: 100%;
    color: #ffffff;
    background-color: #49C3D0;
    text-align: center;
    padding-bottom: 10px;
}

footer a{
    text-align: center;
    color: #ffffff;
    padding: 10px;
}
footer a:hover{
    color: #3F454D;
}
.socials{
    font-size: 1.5em;
}
.socials p{
    margin-block-end: 0 !important;
}
.sources{
    padding-top: 10px;
    font-size: 0.8em;
}

.sources p{
    margin-block-start: 0 !important;
}