/***********Typography***********/
h1{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;

}
h2, h2 a{
    color: #ffffff;
    text-align: center;
    line-height: 3em;
    text-transform: uppercase;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
h3{
    color: #ffffff;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    margin-block-start: 0 !important;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: #1e252d;
    text-align: center;
    margin: auto;
    padding: 10px 0 10px 0;
}

nav{
    text-align: center;
 
}
ul{
    list-style-type: none;
    /*margin: auto;*/
    padding: none;
}

a{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

article h2, article h3{
    font-size: 1.2em;
    color: #1e252d;
    margin: auto;
}

b{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

p{
    color: #ffffff;
    line-height: 1.2em;
}

/*#uiuxDesign h2{
    line-height: 1em;
    padding-bottom: 15px;
}*/

.highlight a{
    color: #ff6cb9;
}

.contentFlex h2, .contentFlex h3{
    font-family: 'Lato', sans-serif;
    color: #1e252d;
    text-align: left;
}

.contentFlex h2{
    text-transform: uppercase;
}
.contentFlex h3{
    margin: 10px 0 10px 0;
    text-transform: none;
    line-height: 1.2em;
}

.contentFlex p{
    margin-block-start: 0 !important;
    font-weight: 400;
    color: #1e252d;
    font-family: 'Lato', sans-serif;
}

.contentLink{
    color: #00b8d4;
    font-weight: 400;
    text-decoration: underline;
}
.contentLink:hover{
    color: #126569;
}

.contentFlex ul{
    padding: none;
}

.contentFlex ul li{
    text-align: center;
    color: #1e252d;
}

.contentDetails p{
    font-family: 'Lato', sans-serif;
    line-height: 1.3em;
    color: #1e252d;
    text-align: left;
}

.contentDetails h2{
    line-height: 1.5em;
}

.contentDetails h3{
    color: #00b8d4;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
}

.contentDetails hr{
    border: 0.5px solid #c6c6c6;
    margin: 10px auto 20px auto;
    width: 70%;
    
}

#aboutMe h2{
    text-align: left;
}

.highlightText{
    margin: auto;
    width: 66.5%;
    background-color: #dff7fb;
    padding: 20px 20px 20px 30px;
    border-radius: 5px;
}

.highlightText h3, .highlightText a, .highlightText p{
    color: #1e252d;
}

.highlightText a:hover{
    color: #516077;
}
.contentText{
    width: 66.5%;
}

.pageHeader{
    background-color: #ffffff;
}

.pageHeader h3{
    margin-bottom: 15px;
}
.pageHeader h3, .pageHeader h3{
    position: relative;
    z-index: 1;
}

.pageHeader h2, .pageHeader h2 a{
    line-height: 1.5em;
    padding: 25px 0 0 0;
    color: #00b8d4;
    position: relative;
    z-index: 1;
}

.pageHeader h2 a:hover{
    color: #1e252d;
}

.caption{
    font-size: 1.1em;
    line-height: 0.1em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #1e252d;
}

#resumeBtn {
    margin: auto;
    border: none;
    background-color: #1e252d;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
}

#resumeBtn:hover{
    background-color: #49C3D0;
    cursor: pointer;
}

button{
    display: block;
    border: none;
    margin: 10px auto 10px auto;
    background-color: #1e252d;
    padding: 10px 25px 10px 25px;
    width: 250px;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    color: #ffffff;
}

button:hover{
    background-color: #00b8d4;
    cursor: pointer;
}

#koalifyBtn{
    background-color: #FF9E43;
}
#koalifyBtn:hover{
    background-color: #5b83ff;
    cursor: pointer;
}

#creativeMedia button{
    background-color: #1b2a51;
}
#creativeMedia button:hover{
    background-color: #00b8d4;
}

#redbubbleBtn{
    width: 300px;
    background-color: #ff5a4e;
}
#redbubbleBtn:hover{
    background-color: #c2483f;
    cursor: pointer;
    
}

/******Navigation*****/
#mainNav a{
    width: 220px;
    margin-left: 15px;
}

nav{
    /*border-top: 1px solid rgb(218, 218, 218);*/
    text-align: center;
    background-color: #1e252d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
   /* border-top: #ffffff;
    border-top: 1px;*/
    justify-content: flex-end;
  
}

nav ul li{
    padding: 0 30px 0 30px;
}

nav ul li a{

    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    color: #ffffff;

}

nav ul li a:hover{
    color:#ff6cb9;
}


/*****Subnav*****/

.subnav{
    margin: auto;
    border: none;
    background-color: #00A0BA;
    padding: 5px;

   
}
.subnav ul{
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.subnav ul li{
    padding: 10px;
}

.subnav ul li a{
   
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    color: #1e252d;
    font-size: 1em;
    background-color: #ffffff;
    display: inline-block;
    padding: 10px 25px 10px 25px;
    border-radius: 100px;
    width: 150px;
}
    
.subnav ul li a:hover{
    background-color:#1e252d;
    color:#ffffff;
}

#illustSubnav{
    position: absolute;
    background-color: rgba(0, 160, 186, 0);
    margin: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/*************** Content Nav ****************/
.contentNav{
    display: block;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

.contentNav ul{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center ;
    align-items: center;
    padding: 10px 0 10px 0;
    width: 100%;
    background-color: #ffffff;

}

.contentNav ul li{
    text-align: center;
    margin: 8px;
    /*border-right: 1px solid #1e252d;*/
}

.contentNav ul li a{
    display: inline-block;
    color:  #ffffff;
    background-color: #1e252d;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    width: 170px;
}

.contentNav a{
    font-family: 'Lato', sans-serif;
    color: #1e252d;
    font-size: 1em;
}

.contentNav a:hover{
    background-color: #516077;
}

.subnav .noBorder, .contentNav .noBorder{
    border-right: none;
}

/******** Mobile Nav ********/
#mobileNav{
    display: none;
}



/****** Body *****/
body{
    background-color: #1e252d;
    padding-bottom: 10px;
}

header img{
    width: 25%;
    padding: 10px 0 10px 0;
    margin: auto;
}
hr{
    margin: 0 auto 0 auto;
    border: 0.5px solid #ffffff;
  /*  border: 1px solid #ffffff;*/
    width: 60%;
}

.pageHeader hr{
    margin: 0 auto 0 auto;
    background-color: #ffffff;
    border-bottom: 1.5px solid #afafaf;
    width: 70%;
    
}

#uiuxDesign{
    background-color: #00A0BA;
}

#creativeMedia{
    background-color: #FDB94B;
    padding-bottom: 10px;
}


#dharmaDrum{
    background-color: #126569;
    padding-bottom: 10px;
}
#dharmaDrum .grid{
    padding-top: 10px;
}

#logosBranding{
    background: linear-gradient(0deg, rgba(46,66,128,1) 0%, rgba(91,131,255,1) 55%);
}
#logosBranding2{
    background-color: #2E4280;
    padding-bottom: 10px;
}

#logosBranding div{
    padding-bottom: 6px;
}

#characterDesign div{
    padding-bottom: 10px;
}

#aphio{
    background: linear-gradient(0deg, rgba(35,31,32,1) 0%, rgba(121,136,89,1) 55%);
}
#stickers{
    margin-bottom: 10px;
    background-color: #1e252d;
}

embed{
    display: block;
    margin: auto;
    padding-bottom: 15px;
    width: 70%;
}
.grid{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.grid img{
    width: 30%;
    margin: 6px;
    border-radius: 5px;
}

a img{
    border-radius: 5px;
}

.overlayGrid {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}
.container{
    align-self: center;
}

.wideIllustration{
    margin: 0 auto 20px auto;
    width: 80%;
    border-radius: 5px;
}

#illustrations{
    padding-top: 10px;
}

section{
    margin: auto;
}
img{
    display: block;
    width: 100%;
    height: 100%;

}


.contentInfo img{
    display: block;
    margin: auto;
    width: 60%;

}

.imgResize{
    width: 60% !important;
}

#topofpage{
    margin-left: 93%;
    text-align: right;
    padding: 20px;
    position: fixed;
    z-index: 100;
    bottom: 0;
}

#topofpage a{
    color: #1e252d;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: white;
    padding: 10px 16px 10px 16px;

}

#topofpage a:hover{
    color: #49C3D0;
}

#goBack{
    padding-left: 2%;
    padding-top: 10px;
    z-index: 100;
    position: absolute;
}

#goBack a{
    border: none;
    color: #1e252d;
    font-size: 1.5em;
}
#goBack a:hover{
    color: #49C3D0;
}

/*#profPic{
    width: 45%;
    height: 45%;
}*/

#romeoPic{
    width: 40%;
    height: 40%;
    padding-left: 5%;
}

article{
    background-color: #ffffff;
    padding: 1px 0 20px 0;
}


#funFacts{
    display: flex;
    margin-block-start: 0 !important;
    justify-content: center;
    background-color: #ffffff;
    padding: 0 0 50px 0;
}

#funFacts p{
    margin: auto;
    color: #1e252d;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2em;;
    width: 75%;
}

.pageTitle{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40%;
    position: relative;
    z-index: 1;
}
.nextProject{
    font-size: 2em;
}

/******** Project Page Body ********/



.contentFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin:auto;
    padding: 50px;
}


.contentDetails section{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    
    
}

.alignCenter{
    align-items: center;
    align-self: center;
    
}

.contentDetails section div{
    width: 45%;
}

.noStretch{
    align-self: flex-start;
}

.contentDetails section div img{
    width: 100%;

}

.contentDetails div{
    /*width: 66.5%;*/
    /*padding-bottom: 10px;*/
    margin: 0 auto 5px auto;
   
}


.contentDetails div img, .contentDetails section img{
    margin: auto;
    border-radius: 5px;
   
}

#aboutMe{
    align-items: flex-start;
}

.contentImgMin{
    width: 60%;
}

.contentButton{
    text-align: center;
    width: 30%;
    display: block;
    margin: auto;
    background-color: #1e252d;
    padding: 10px;
    border-radius: 100px;
}

.contentButton:hover{
    background-color: #516077;
}
/*********Image Overlay Text**********/
.container {
    position: relative;
    width: 30%;
    padding: 6px;
  }
.overlay {
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    opacity: 0;
    transition: .25s ease;
    background-color: rgba(30, 37, 45, 0.8) ;
  }
.overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.overlayText h3{
    color: #ffffff;
    line-height: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

}

  .container:hover .overlay {
    opacity: 1;
  }

  .onTop{
    position:relative;
    z-index: 2;
  }

/***********Footer***********/

footer{
    position: absolute;
    width: 100%;
    color: #ffffff;
    background-color: #00b8d4;
    text-align: center;
    padding-bottom: 10px;
}

footer a{
    text-align: center;
    color: #ffffff;
    padding: 10px;
}
footer a:hover{
    color: #1e252d;
}
.socials{
    font-size: 1.5em;
}
.socials p{
    margin-block-end: 0 !important;
}
.sources{
    padding-top: 10px;
    font-size: 0.8em;
}

.sources p{
    margin-block-start: 0 !important;
}


/************* Tablet & Mobile *************/

@media screen and (max-width: 1200px){

    #topofpage{
        margin-left: 90%;
    }

    .contentNav ul{
        width: 90%;

    }
    .contentNav ul li {
        margin: 5px;
    }
    .contentNav ul li a{
        width: 200px;
    }


}
@media screen and (max-width: 800px){
   
    /********* Hamburger Nav *********/
    #mainNav{
        display: none;
    }
    #mobileNav{
        display: block;
        padding: 3px 0 3px 0;

    }

 #logo{
    display: block;
    margin-left: 15px;
    width: 220px;

    }
  
    #mobileNav {
        overflow: hidden;
        background-color: #1e252d;
        position: relative;
      }
      
      #mobileNav #hamburgerLinks {
        display: none;
      }
      
      #hamburgerIcon i{
        color: white;
        padding: 6px 6px;
        text-decoration: none;
        font-size: 1.75em;
        display: block;

      }
      #hamburgerIcon{
        padding: 15px 15px;
      }
      #hamburgerLinks a {
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        font-size: 1.2em;
        display: block;
      }

      .highlight{
        color: #ff6cb9;
      }
      
      #mobileNav a#hamburgerIcon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
    /********************/

    #illustSubnav{
        position: relative;
        background-color: #1e252d;
    }

    .pageHeader h3{
        margin-bottom: 5px;
    }
    
    
    .subnav ul{
        display: block;
        width: 80%;
    }

    .subnav ul li a{
        width: 200px;
    }
   
  
    .contentNav ul{
        display: block;
        /*margin: 0 15px 0 15px;*/
        width: 100%;

    }

    .contentNav ul li{
        padding: 5px 0 5px 0;
 
    }
    .contentNav ul li a{
        width: 200px;
    }

    .contentDetails .alignCenter{
        display: block;
        width: 100%;
    }
    

   .contentText, .contentDetails section, .contentDetails section div{
    width: 80%;
    overflow: hidden;
   }

   .highlightText{
    width: 80%;
    margin: 0;
   }

   .contentDetails .highlightText{
    margin-top: 15px;

   }
   .contentDetails section {
    margin: 0;
   }

   #aboutMe section{
    margin: auto;
   }

   .pageTitle{
    width: 80%;
   }

    .grid,  .contentFlex,  .contentDetails section{
        display: block;

    }
    .grid img{
        margin: auto;
        width: 80%;
        padding: 10px;
    }

    .overlayGrid{
        display: block;
    }
    .container{
        margin: auto;
        width: 80%;
        padding: 6px;
    }

    #topofpage{
        margin-left: 75%;
    }
  
    /*nav ul{
        display: block;
        padding: 20px;
        line-height: 1.5em;
    }*/

    header img{
        width: 60%;
        margin: auto;
    }
    .content{
        display: block;
    }
    .contentButton{
        margin-top: 20px;
        width: 70%;
    }

    #profPic, #romeoPic{
        width: 90%;
        margin: auto;
        padding-right: 0%;
    }

    #resumeBtn{
        margin: auto;
    }

  
    .imgResize{
        width: 80% !important;
    }
}

