
/****** font *******/

h1{
    font-family: 'Montserrat', sans-serif;
}

h2, h3, p, a{
    font-family: 'Roboto', sans-serif;
}

h1{
    color: white;
    font-size: 2em;
    line-height: 0.5em;
    padding-top: 2%;
    padding-left: 4%;
}
h2, h3{
    color: #F4447F;
    font-size: 1.2em;
    line-height: 0.5em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    margin: auto;
}
h2{
    padding-top: 2em;
}


p{
    color: #02182B;
    font-size: 1em;
    line-height: 1.5em;
    padding-left: 3em;
    padding-right: 3em;

}

ul li{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    list-style-type: none;
}
ul li a{
    color: #02182B;
    line-height: 1.5em;
    text-decoration: none;
}

footer p{
    color: white;
}

footer{
    color: white;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
}

#portal{
    display: block;
    color: #02182B;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
}

#portal:hover, a:hover{
    color:#F4447F;
}

footer a{
    color:white;
    text-decoration: none;
}


/***** body styles *****/

body{
    background: #02182B;
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
}

div{
    background: white;
}

header{
    background: #F4447F;;
    width: 800px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
}

div{
    max-width: 800px;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: auto;
}
img{
    display: block;
    margin: auto;
    padding: 1em;
}

footer{
    background: #0197F6;
    width: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}