body{
    background-color: #E0FFFF;
}

img{
    display: block;
    margin: auto;
    margin-top: 10%;
    width: 10%;
}
p{
    margin:auto;
    padding: 25px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(80, 149, 206);
    font-size: 0.8em;
}
a{
    color: rgb(80, 149, 206);
    text-decoration: none;
}
a:hover{
    color: rgb(42, 107, 160);
}
footer{
 
    margin:auto;
    display: block;
}

#girl {
    width: 249.6px;
    height: 290px;
    background: url('images/reel.png') left center;

    animation: play 2s steps(18) infinite;

    margin: auto;
    margin-top: 1%;                                                                                                                                                                                                                                                               
  }

  #girl2 {
    width: 249.6px;
    height: 290px;
    background: url('images/reel2.png') left center;

    animation: play2 2.0s steps(21) infinite;
    
    margin: auto;
    margin-top: 1%;                                                                                                                                                                                                                                                               
  }

  @keyframes  play {
     100% { background-position: -4493px; }
 }
 @keyframes  play2 {
    100% { background-position: -5240px; }
}
 .visible{
     display: block;
 }
 .invisible{
    display: none;
}



@media screen and (max-width: 700px){

   img{
       margin-top: 15%;
       width: 25%;
   }
}

